.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  gap: 10px;
  background-color: blue;
}

.grid-item {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

.carousel {
  background-color: red;
  text-align: center;
}
/* .grid-container-carousel {
  display: grid;
  grid-template-columns: ;
  gap: 10px;
  background-color: blue;
} */
