.banner-container {
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  gap: 10px;
  background-color: blue;
}

.grid-item {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

.carousel {
  background-color: red;
  text-align: center;
}

.image-sizing-carousel {
  width: 100% !important;
  height: 100%;
  height: 300px;
  overflow: hidden;
}

.work-overview-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
  background-color: green;
  overflow: hidden;
}

.work-summary-item {
  background-color: #f1f1f1f1;
  padding: 20px;
  text-align: center;
}

.github-selection-icons {
  justify-content: space-around;
  display: flex;
}

.github-button {
  border-radius: 25px;
  width: 200px;
}

.github-button:focus {
  background: darkslategray;
  font-weight: bold;
  color: #f0f0f0;
}

.github-avatar {
  width: 50%;
  height: 50%;
}
